.gm-datepicker {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: white;

  .gm-calendar {
    border: none;
  }

  input {
    border: 0;
    cursor: pointer;

    &.gm-clear-input{
      padding: 6px 20px 6px 12px;
    }
  }

  .gm-datepicker-clear-btn{
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 18px;
    color: #555555;
  }
}

.gm-daterangepicker > input {
  display: inline-block;
  width: auto;
}