.gm-date-range-picker-overlay {
  .gm-date-range-picker-overlay-calendar {
    .gm-calendar-day-will:not(.active) {
      // 要屏蔽 will
      outline: none;
    }
  }
}

.gm-date-range-picker-bottom-text {
  color: @brand-primary;
  text-align: center;
}

.gm-date-range-picker-bottom-time {
  width: 60px;
  height: 24px;
  margin-left: 5px;
  align-content: center;
  border: 1px solid @gm-border-color;
  color: @brand-primary;
  outline: none;

  &:focus {
    border: 1px solid @brand-primary;
  }
}

.gm-date-range-picker-gap {
  width: 10px;
  height: 32px;
}

.gm-date-range-picker-left-item {
  height: 30px;
  line-height: 30px;
  text-align: center;

  &:hover {
    background-color: #b2d5ff;
  }
}
