.gm-date-range-picker-overlay {
  .gm-date-range-picker-overlay-second-calendar {
    .gm-calendar-day-will {
      // 要屏蔽 第二个日历的 will
      border: 1px solid transparent;
    }
  }

  .gm-date-range-picker-overlay-calendar-gap {
    height: 32px;
    padding: 2px 0;
    width: 10px;
  }

  .gm-date-range-picker-overlay-bottom-text {
    color: @brand-primary;
    text-align: center;
  }
}
