.gm-cascader {
  position: relative;

  input {
    padding-right: 20px;
  }

  &.gm-cascader-close {
    input {
      padding-right: 35px;
    }
  }

  .ifont-close {
    position: absolute;
    display: block;
    width: 10px;
    height: 14px;
    font-size: 14px;
    line-height: 1;
    top: 0;
    right: 24px;
    bottom: 0;
    color: @gm-border-color;
    margin: auto 0;
  }
}

// 三角标
.gm-cascader.gm-popover-active {
  .gm-arrow-down {
    border-top: none;
    border-bottom: 5px solid @gm-border-color;
  }
}

.gm-cascader-list {
  height: 250px;

  .list-group {
    border: 1px solid @gm-border-color;
    min-width: 120px;

    &:not(:first-child) {
      border-left: none;
    }

    .list-group-item {
      padding: 5px 10px;
      border: none;
      border-radius: 0;
      cursor: pointer;
    }
  }
}

.gm-cascader-select {
  &.disabled {
    .selected {
      opacity: 0.6;
    }
  }
  .gm-cascader-input input[disabled] {
    cursor: not-allowed;
    background-color: #fff;
  }

  .gm-cascader-select-input {
    padding: 6px 0 6px 12px;

    input {
      padding: 0;
      padding-right: 20px;
      border: none;
      box-shadow: none;
      width: 100%;
      outline: none;
      height: auto;
    }

    .selected {
      background-color: @list-group-hover-bg;
      padding: 0 5px;
      margin-right: 12px;
      border-radius: 4px;

      .close {
        right: -5px;
        line-height: 1;
        font-size: 15px;
        padding-left: 2px;
      }
    }
  }
}
