.gm-editable-text {
  .gm-editable-text-edit-pen {
    color: @brand-primary;
    display: none;
  }

  &:hover {
    .gm-editable-text-edit-pen {
      display: inline-block;
    }
  }
}

.gm-editable-text-input-wrap {
  .form-control {
    width: 150px;
    display: inline-block;
  }

  .gm-editable-text-xfont-ok {
    color: @brand-primary;
  }

  .gm-editable-text-xfont-cancel {
    color: red;
  }
}
