.gm-transfer {
  .gm-transfer-box {
    .gm-transfer-box-filter {
      position: relative;

      i {
        position: absolute;
        left: 7px;
        top: 10px;
        z-index: 2;
      }

      input {
        padding-left: 26px;
        border-top: none;
        border-right: none;
        border-left: none;
        box-shadow: none;
      }
    }

    .gm-transfer-box-list {
      .gm-checkbox-group {
        label {
          padding: 3px 6px;

          &:hover {
            background: #f5f5f5;
          }
        }
      }
    }
  }
}
