// 以下变量将覆盖bootstrap的variable.less中的同名变量

@font-size-base: 12px;
@padding-base-vertical: 5px;
@padding-base-horizontal: 10px;
@line-height-base: 1.33;
@border-radius-base: 3px;

@brand-primary: #2871bb;

@link-color: #1e80e5;
@link-hover-color: darken(@link-color, 15%);

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

@btn-default-border: #eee;
@input-border: #eee;
@dropdown-fallback-border: #eee;
@navbar-default-link-disabled-color: #eee;
@popover-fallback-border-color: #eee;

@input-border-focus: @brand-primary;

@table-bg-accent: white;
//** Background color used for `.table-hover`.
@table-bg-hover: #e7f5e8;
@input-color: @text-color;
