@gm-nav-bg-second: #363d44;

.gm-nav {
  background: @gm-nav-bg-second;
  font-size: 14px;

  .gm-nav-logo {
    height: 80px;
  }

  .gm-nav-there > a {
    display: block;
    color: @gm-color-first;
    white-space: nowrap;
    padding: 5px 15px;
    text-decoration: none;
  }

  .gm-nav-two > div > a {
    display: block;
    color: @gm-color-first;
    white-space: nowrap;
    padding: 15px 15px;
    text-decoration: none;
    cursor: inherit;
  }

  .gm-nav-jump > div > a {
    display: block;
    color: @gm-color-first;
    white-space: nowrap;
    padding: 15px 15px;
    text-decoration: none;
  }

  .gm-nav-two > div + div {
    margin-top: 20px;
  }

  .gm-nav-one > div > a {
    border-top: 1px solid @gm-nav-bg-second;
    display: block;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
  }

  .gm-nav-there > a.active {
    color: @brand-primary;
  }

  .gm-nav-there > a:hover {
    color: @brand-primary;
  }

  .gm-nav-one > div.active a {
    background: white;
    color: @gm-color-first;
  }
}
