.gm-nav {
  width: 80px;
  height: 100vh;
  background: #243351;
  z-index: 910;

  .gm-nav-logo {
    text-align: center;
    padding: 5px;
    height: 60px;

    &.active {
      background: #17233d;
    }

    &:hover {
      background: #17233d;
    }
  }

  .gm-nav-one {
    height: 64px;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .gm-nav-one-icon {
      font-size: 26px;
      line-height: 1;
      text-align: center;
    }

    .gm-nav-one-text {
      text-align: center;
      font-size: 14px;
    }

    &.active {
      background: #2871bb;
    }

    &:hover {
      background: rgba(40, 113, 187, 0.4);
    }
  }

  .gm-nav-other {
    margin-top: 128px;
  }

  .gm-nav-popup {
    display: none;
    color: @gm-color-first;
    background: white;
    position: absolute;
    top: 0;
    left: 80px;
    box-shadow: 10px 5px 18px 0 rgba(38, 53, 83, 0.14);

    .gm-nav-popup-triangle {
      position: absolute;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-right: 6px solid white;
      top: 25px;
      left: -12px;
    }
  }

  .gm-nav-one-box {
    position: relative;

    &:hover {
      .gm-nav-popup {
        display: block;
      }
    }
  }

  .gm-nav-two {
    min-width: 110px;
    max-width: 130px;
    padding: 10px 10px 35px;

    .gm-nav-two-title {
      color: @gm-color-third;
      padding: 0 0 10px;
      border-bottom: 1px solid @gm-border-color;
      margin: 5px 10px 15px;
    }
  }

  .gm-nav-there {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    color: #243351;
    border-radius: 2px;

    &:hover {
      color: @brand-primary;
      background-color: rgba(208, 222, 236, 0.26);
    }

    &.active {
      color: @brand-primary;
      background-color: rgba(208, 222, 236, 0.26);
    }
  }
}
