.gm-sheet {
  position: relative;

  .gm-sheet-select-all-tip {
    position: absolute;
    top: -19px;
    white-space: nowrap;
    left: 6px;
    background: white;
    padding: 4px 10px;

    &-arrow {
      position: absolute;
      border: 5px solid transparent;
      bottom: -5px;
      border-bottom-width: 0;
      border-top-color: hsla(0, 0%, 85%, 0.7);

      &::after {
        bottom: 1px;
        content: ' ';
        position: absolute;
        margin-left: -4px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid white;
      }
    }
  }

  .gm-pagination-text {
    margin-right: 10px;
  }

  .gm-sheet-select {
    width: 30px;
  }

  .gm-sheet-table-scroll-x {
    overflow-x: auto;
  }

  .gm-sheet-th-expanded {
    width: 50px;
  }

  .table {
    margin-bottom: 0;
  }

  .table > tbody {
    .gm-sheet-expanded-icon {
      cursor: pointer;
    }

    & > .gm-sheet-expanded-tr {
      background: @table-bg-accent;

      > td {
        padding: 0;

        > .gm-sheet {
          .table {
            margin-bottom: 0;
            background: @table-bg-accent;
            border: 1px solid @brand-primary;

            thead,
            tbody {
              tr {
                background: @table-bg-accent;

                th:last-child,
                td:last-child {
                  border-right: 1px solid @brand-primary;
                }
              }
            }

            tbody tr:last-child {
              border-bottom: none;
            }

            thead:first-child,
            tbody:first-child {
              tr:first-child {
                padding-left: 2px;
              }
            }
          }
        }
      }
    }
  }
}
