.gm-uploader {
  display: inline-block;

  .gm-uploader-default {
    width: 100px;
    height: 100px;
    border: 2px dashed @gm-border-color;
    cursor: pointer;
  }

  .gm-uploader-wrap {
    display: inline-block;
  }

  .gm-uploader-input[type="file"] {
    display: none;
  }

  .icon-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: @gm-border-color;
  }

  #upload-icon{
    font-size: 2.5em;
  }
}
