
.form-control {
  box-shadow: none;
  transition: none;
  height: 30px;

  &:focus {
    box-shadow: none;
  }
}

// modal 全局修改
.modal-backdrop.in {
  opacity: 0.2;
}

.modal-content {
  box-shadow: none;
  border: 0;
}

.modal-header {
  padding: 10px;
}

.modal-body {
  padding: 10px;
}

.modal-footer {
  padding: 10px;
}

.list-group {
  .list-group-item {
    background-color: white;

    &.active {
      color: @brand-primary;
    }

    &:hover {
      background-color: @gm-list-group-hover-bg;
    }
  }
}

.table {
  tr {
    th,
    td {
      a {
        cursor: pointer;
      }
    }
  }

  thead {
    tr {
      height: 40px;
      background: #f2f3f8;
      border-bottom: 1px solid @gm-border-color;
    }
  }

  tbody {
    tr {
      height: 60px;
      border-bottom: 1px solid @gm-border-color;
    }
  }

  thead > tr > th {
    vertical-align: middle;

    &:not(.text-center) {
      text-align: left;
    }

    &:first-child {
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 15px;
    }
  }

  tbody > tr > td {
    vertical-align: middle;

    &:not(.text-center) {
      text-align: left;
    }

    &:first-child {
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 15px;
    }
  }

  &.table-bordered {
    border: 1px solid @gm-border-color;

    thead {
      tr {
        th {
          border: none;
          font-weight: normal;
          color: @gm-color-first;

          &:last-child {
            border-right: 1px solid @gm-border-color;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          border: none;

          &:last-child {
            border-right: 1px solid @gm-border-color;
          }
        }
      }
    }
  }

  &.table-striped {
    tr:nth-of-type(even) {
      background-color: #f5f5f7;
    }

    tr:nth-of-type(even):hover {
      background-color: @table-bg-hover;
    }
  }
}

@media print {
  .table {
    thead {
      tr {
        height: inherit;
      }
    }

    tbody {
      tr {
        height: inherit;
      }
    }
  }
}

// add
.btn.btn-plain {
  background-color: white;

  &.btn-primary {
    color: @brand-primary;

    &:hover {
      color: @btn-primary-color;
      background-color: @btn-primary-bg;
      border-color: @btn-primary-border;
    }
  }

  &.btn-success {
    color: @brand-success;

    &:hover {
      color: @btn-success-color;
      background-color: @btn-success-bg;
      border-color: @btn-success-border;
    }
  }

  &.btn-info {
    color: @brand-info;

    &:hover {
      color: @btn-info-color;
      background-color: @btn-info-bg;
      border-color: @btn-info-border;
    }
  }

  &.btn-warning {
    color: @brand-warning;

    &:hover {
      color: @btn-warning-color;
      background-color: @btn-warning-bg;
      border-color: @btn-warning-border;
    }
  }

  &.btn-danger {
    color: @brand-danger;

    &:hover {
      color: @btn-danger-color;
      background-color: @btn-danger-bg;
      border-color: @btn-danger-border;
    }
  }
}

.dropdown-menu {
  min-width: 120px;

  li.active a {
    background: white;
    color: @brand-primary;

    &:hover {
      background: @gm-back-body-bg;
      color: @brand-primary;
    }
  }
}
