.gm-overflow {
  overflow: auto;
}

.gm-overflow-hidden {
  overflow: hidden;
}

.gm-overflow-x {
  overflow-x: auto;
}

.gm-overflow-x-hidden {
  overflow-x: hidden;
}

.gm-overflow-y {
  overflow-y: auto;
}

.gm-overflow-y-hidden {
  overflow-y: hidden;
}
