.gm-search-select {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;

  .gm-search-select-input {
    padding: 6px 12px;
    input {
      padding: 0;
      border: none;
      box-shadow: none;
      width: 100%;
      outline: none;
    }
    .selected {
      background-color: @gm-hover-bg;
      padding: 0 5px;
      margin-right: 12px;
      border-radius: 4px;
      .close {
        right: -5px;
        line-height: 1;
        font-size: 15px;
        padding-left: 2px;
      }
    }
  }

  &.gm-search-select-empty {
    .gm-search-select-overlay {
      display: none !important;
    }
  }

  .gm-search-select-overlay {
    width: 100%;
    max-width: none;
    left: 0 !important;
    top: 0;
    right: 0;

    .arrow {
      display: none;
    }
    .popover-content {
      padding: 0;

      .list-group {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
        margin-bottom: 0;

        .list-group-item {
          border-bottom: none;
          border-left: none;
          border-right: none;
          border-top: 1px solid #ddd;
          padding: 6px 12px;
          &:first-child {
            border-top: none;
          }
        }
      }
    }
  }
}
