.gm-box-shadow-none {
  box-shadow: none !important;
}

.gm-box-shadow-bottom {
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2) !important;
}

.gm-box-shadow-top {
  box-shadow: 0 -1px 6px rgba(0, 0, 0, .2) !important;
}