.gm-sheet {

}

.gm-sheet-table-scroll-x {
  overflow-x: auto;
}
.gm-sheet-select {
  width: 30px;
}

.gm-sheet .pagination {
  margin: 0;
}

.gm-sheet .gm-pagination-text {
  line-height: 30px;
  margin-right: 10px;
}
