.gm-text-red {
  color: red !important;
}

.gm-text-desc {
  color: @gm-color-second !important;
}

.gm-text-helper {
  color: @gm-color-second !important;
  font-size: 12px !important;
}

.gm-font-16 {
  font-size: 12px !important;
}

.gm-font-14 {
  font-size: 14px !important;
}

.gm-font-12 {
  font-size: 12px !important;
}
