.gm-trigger {
  position: relative;

  .gm-trigger-popup {
    position: absolute;
    top: 100%;
    margin-top: 2px;
    left: 0;
    z-index: 1000;
    overflow: auto;
  }

  .gm-trigger-popup-right {
    right: 0;
    left: auto;
  }

  .gm-trigger-popup-top {
    top: auto;
    bottom: 100%
  }
}