// 私有
@gm-back-body-bg: #f5f5f5;

@gm-form-border-color: #ccc;
@gm-border-color: #ddd;

@gm-dropper-border-color: #ccc;

@gm-list-group-active-hover-bg: darken(@list-group-hover-bg, 20%);

// 规范颜色变量
@gm-color-first: @gray-dark; //左侧导航、panel标题、页面正文文字
@gm-color-second: #666; //辅助文字
@gm-table-bg-accent: @table-bg-accent; //表头背景
