.gm-calendar {
  width: 199px;
  overflow: hidden;
  border: 1px solid @gm-border-color;
  background: white;
  cursor: pointer;

  .gm-calendar-head {
    height: 28px;

    .gm-calendar-head-icon {
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      display: inline-block;
    }

    .gm-calendar-head-text {
      font-weight: bold;
      line-height: 28px;
      height: 28px;
      text-align: center;
    }
  }

  .gm-calendar-week {
    height: 24px;
  }

  .gm-calendar-day {
    color: black;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 2px;
    border: 1px solid transparent;

    &:hover:not(.gm-calendar-day-disabled):not(.active):not(.gm-calendar-day-old):not(.gm-calendar-day-new) {
      background-color: @brand-primary;
      color: white;
    }

    &.gm-calendar-day-old,
    &.gm-calendar-day-new {
      color: @gm-color-third;
    }

    &.gm-calendar-day-now:not(.gm-calendar-day-old):not(.gm-calendar-day-new) {
      border: 1px solid @brand-primary;
      color: @brand-primary;
    }

    &.gm-calendar-day-will {
      border: 1px solid @brand-primary;
    }

    &.active:not(.gm-calendar-day-old):not(.gm-calendar-day-new) {
      border: 1px solid #d7e8fc;
      background-color: #d7e8fc;
      color: black;
      width: 28px;
      margin: 2px 0;
    }

    &.gm-calendar-day-begin:not(.gm-calendar-day-old):not(.gm-calendar-day-new),
    &.gm-calendar-day-end:not(.gm-calendar-day-old):not(.gm-calendar-day-new) {
      background-color: @brand-primary;
      border: 1px solid @brand-primary;
      color: white;
      width: 24px;
      margin: 2px;
    }

    &.gm-calendar-day-disabled {
      color: @gm-color-third;
      cursor: not-allowed;
    }
  }
}
