.gm-calendar {
  width: 199px;
  overflow: hidden;
  border: 1px solid @gm-form-border-color;
  border-radius: 4px;
  position: relative;
  background: white;
}

.gm-calendar-head {
  background-color: @gray-lighter;
}

.gm-calendar-head-title {
  font-weight: bold;
  line-height: 24px;
}

.gm-calendar-head-pre, .gm-calendar-head-next {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  color: inherit;
}

.gm-calendar-head-pre:hover, .gm-calendar-head-next:hover {
  background-color: @gray-lighter;
  text-decoration: none;
}

.gm-calendar-head-month {
  cursor: pointer;
}

.gm-calendar-week {
  background-color: @gray-lighter;
}

.gm-calendar-content {
}

.gm-calendar-months {
  position: absolute;
  top: 24px;
  border: 1px solid @gm-form-border-color;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background: white;
}

.gm-calendar-month {

  width: 56px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.gm-calendar-month:hover {
  background-color: @list-group-hover-bg;
}

.gm-calendar-day-name {
  color: black;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
}

.gm-calendar-day {
  color: black;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.gm-calendar-day:hover {
  background-color: @list-group-hover-bg;
}

.gm-calendar-day-now {
  background-color: @list-group-hover-bg;
}

.gm-calendar-day-old {
  color: #999999;
}

.gm-calendar-day-new {
  color: #999999;
}

.gm-calendar-active {
  background-color: @brand-primary;
  color: white;
}

.gm-calendar-active:hover {
  background-color: @brand-primary;
  color: white;
}

.gm-calendar-day-disabled {
  background: @list-group-hover-bg;
  color: #999999;
  cursor: not-allowed;
}

.gm-calendar-content-div {
  .gm-calendar-day-disabled {
    width: 28px;
    padding: 0 2px;
    margin: 2px 0;
    border-radius: 0;

    &:first-child {
      width: 26px;
      padding-left: 0;
      margin-left: 2px;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
    &:last-child {
      width: 26px;
      padding-right: 0;
      margin-right: 2px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

}
