.gm-selection {
  position: relative;
  vertical-align: middle;

  input {
    padding-right: 32px;
  }

  .gm-selection-icon {
    position: absolute;
    display: block;
    width: 10px;
    height: 14px;
    line-height: 1;
    top: 8px;
    bottom: 0;
    color: @gm-color-fourth;
    cursor: pointer;
  }

  .gm-selection-close-icon {
    right: 20px;
  }

  .gm-selection-up-small,
  .gm-selection-down-small {
    right: 5px;
  }

  .gm-selection-up-small {
    display: none;
  }

  // popover 提供的
  &.gm-popover-active {
    .gm-selection-up-small {
      display: block;
    }

    .gm-selection-down-small {
      display: none;
    }
  }

  &.disabled {
    cursor: not-allowed;

    .gm-selection-close-icon {
      cursor: not-allowed;
    }
  }
}
