.gm-form {
  .gm-form-group {
    margin-bottom: 10px;
  }

  .gm-form-label {
    padding-top: 6px;
    padding-right: 10px;

    &.gm-form-label-un-top {
      padding-top: 0;
    }

    &.gm-form-label-switch-padding-top {
      padding-top: 2px;
    }
  }

  &.form-inline {
    display: flex;
    flex-wrap: wrap;

    .gm-form-group {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .help-block {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .gm-form {
    .gm-form-group {
      margin-right: 0;
      flex-direction: column;

      .gm-form-label {
        width: auto;
        justify-content: flex-start;
      }
    }

    &.form-inline {
      display: block;

      .gm-form-group {
        margin-right: 0;
        flex-direction: column;
      }
    }

    .gm-form-block {
      flex-direction: column;
    }
  }
}

.gm-form-group-sticky-bottom {
  background-color: white;
  box-shadow: 0 -1px 6px rgba(36, 51, 81, 0.2);
}
