@gm-form-field-top: 6px;

.gm-form {
  .gm-form-group {
    margin-bottom: 10px;
  }

  &.form-horizontal {
    .gm-form-label {
      padding-top: @gm-form-field-top;
      padding-right: 10px;

      &.gm-form-label-untop {
        padding-top: 0;
      }

      &.gm-form-label-switch-padding-top {
        padding-top: 2px;
      }
    }

    .gm-form-field {
      &.gm-form-field-top {
        margin-top: @gm-form-field-top;
      }
    }
  }

  &.form-inline {
    display: flex;
    flex-wrap: wrap;

    .gm-form-label {
      padding-top: @gm-form-field-top;
      padding-right: 5px;

      &.gm-form-label-untop {
        padding-top: 0;
      }
    }

    .gm-form-group {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .gm-form-block {
    &.gm-form-block-inline {
      flex-wrap: wrap;

      .gm-form-group {
        margin-right: 20px;
      }
    }
  }

  .help-block {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .gm-form {
    .gm-form-group {
      margin-right: 0;
      flex-direction: column;

      .gm-form-label {
        width: auto;
        justify-content: flex-start;
      }
    }

    &.form-inline {
      display: block;

      .gm-form-group {
        margin-right: 0;
        flex-direction: column;
      }
    }

    .gm-form-block {
      flex-direction: column;

      &.gm-form-block-inline {
        flex-wrap: wrap;

        .gm-form-group {
          margin-right: 0;
          flex-direction: column;
        }
      }
    }
  }
}
