@import "../node_modules/gm-bootstrap/less/variables.less";
@import "../node_modules/gm-bootstrap/less/mixins.less";
@import "../node_modules/gm-bootstrap/less/custom.less";
@import "../src/css/variables.less";

#appContainer {
  padding-bottom: 100px;
}

h1 {
  border-bottom: 1px solid #eee;
  margin: 24px 0 16px;
  padding-bottom: 0.3em;
}

.demo {
  .demo-header {
    background-color: #303030;
    .container {
      height: 80px;
      a {
        color: white;
        text-decoration: none;
      }
      img {
        height: 40px;
      }
    }
    .gm-header-logo {
      font-size: 20px;
    }
    .gm-header-nav {
      a {
        display: block;
        color: white;
        padding: 0 20px;
        height: 80px;
        line-height: 80px;
      }
    }
  }

  .demo-center {
    margin-top: 20px;
    .demo-left {
      width: 200px;
      min-width: 200px;
      padding-right: 20px;

      h2 a, h3 a {
        display: none;
      }

      h2 {
        font-size: 16px;
        margin: 10px 0 5px;
      }

      h3 {
        font-size: 14px;
        color: @gm-text-desc-color;
        margin: 10px 0 5px 0;
      }

      ul {
        padding: 0;
        li {
          list-style: none;
          a {
            padding: 5px 0 5px 2em;
            display: block;
            color: #333;
            text-decoration: none;
            &:hover {
              color: @brand-primary;
            }
            &.active {
              color: @brand-primary;
            }
          }
        }
      }
    }
  }
}