@import "../src/var.less";
@import "../frame/style.less";
@import "../table/style.less";

@LinkColor: #2182cc;

h1 {
  margin: 24px 0 16px;
  padding-bottom: 0.3em;
}

.gm-framework-left {
  width: 250px;
}

.doc-demo-box {
  background: whitesmoke;
}

.doc-time-span-container {
  > div {
    margin-bottom: 10px;
  }
}

.doc-dragging .rt-tr{
  background: yellow !important;
}
