// @brand-primary @brand-success @brand-info @brand-warning @brand-danger
.gm-loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  animation: gm-loadingFade 1.8s linear infinite;
  .loading-circle{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: @brand-primary;
      border-radius: 100%;
    }
  }

  .circle1 {
    transform: rotate(0);
    opacity: .2;
  }
  .circle2 {
    transform: rotate(30deg);
    opacity: .4;
  }
  .circle3 {
    transform: rotate(60deg);
    opacity: .6;
  }
  .circle4 {
    transform: rotate(90deg);
    opacity: .7;
  }
  .circle5 {
    transform: rotate(120deg);
    opacity: .8;
  }
  .circle6 {
    transform: rotate(150deg);
    opacity: .9;
  }
  .circle7 {
    transform: rotate(180deg);
    opacity: 1;
  }
  .circle8 {
    transform: rotate(210deg);
    opacity: .6;
  }
  .circle9 {
    transform: rotate(240deg);
    opacity: .6;
  }
  .circle10 {
    transform: rotate(270deg);
    opacity: .4;
  }
  .circle11 {
    transform: rotate(300deg);
    opacity: .2;
  }
  .circle12 {
    transform: rotate(330deg);
    opacity: .2;
  }

}
@keyframes gm-loadingFade {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
