@gm-select-padding: 6px 12px;

.gm-select {
  display: inline-block;
  position: relative;
  min-width: 160px;
  background-color: #fff;
  user-select: none;
  cursor: pointer;
  height: 34px;

  &.disabled {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
  }

  .gm-select-list {
    display: none;
    position: absolute;
    z-index: 3000;
    width: 100%;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid @gm-border-color;
    border-top: none;
  }

  &.gm-select-open {
    .gm-select-list {
      display: block;
    }
  }

  .gm-select-selection {
    position: relative;
    padding: @gm-select-padding;
    padding-right: 20px;
    height: 100%;
    border: 1px solid @gm-border-color;

    .gm-select-selected {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .gm-select-option {
    cursor: pointer;
    padding: @gm-select-padding;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:first-child) {
      border-top: 1px solid @gm-border-color;
    }

    &:hover {
      background-color: @list-group-hover-bg;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: @list-group-disabled-bg;
      color: #777;
      opacity: 1;

      &:hover {
        background-color: @list-group-disabled-bg;
        color: #777;
      }
    }

    &.selected {
      background-color: @list-group-active-bg;
    }
  }
}

