@import "less/bootstrap.less";
@import "css/variables";
@import "css/dropper";
@import "css/import.lead.less";
@import "css/calendar";
@import "css/datepicker";
@import "css/daterangepicker";
@import "css/tip";
@import "css/nprogress";
@import "divider/style";
@import "css/dialog";
@import "css/flex";
@import "css/timespan";
@import "css/timespanpicker";
@import "css/drop.select.less";
@import "css/switch";
@import "css/sheet";
@import "css/search.select.less";
@import "css/cascader";
@import "css/trigger";
@import "css/loading";
@import "css/arrow.less";
@import "css/modal.less";
@import "css/collapse.less";
@import "css/drop.down.less";
@import "css/tree_select.less";
@import "css/quick.less";
@import "./transfer/style.less";
@import "./form/style.less";

html, body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

// text
//.gm-text-second {
//  color: @gm-color-second;
//}

.gm-text-red {
  color: red;
}

.gm-text-desc {
  color: @gm-color-second;
}

.gm-text-helper {
  color: @gm-color-second;
  font-size: 12px;
}

// bg
.gm-back-bg {
  background-color: @gm-back-body-bg !important;
}

.gm-bg {
  background-color: @body-bg !important;
}

// whiteframe1
.gm-whiteframe1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

// gap
.gm-gap-5 {
  display: inline-block;
  height: 5px;
  width: 5px;
}

.gm-gap-10 {
  display: inline-block;
  height: 10px;
  width: 10px;
}

.gm-gap-15 {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.gm-padding-0 {
  padding: 0;
}

.gm-padding-5 {
  padding: 5px;
}

.gm-padding-10 {
  padding: 10px;
}

.gm-padding-15 {
  padding: 15px;
}

.gm-padding-top-0 {
  padding-top: 0;
}

.gm-padding-top-5 {
  padding-top: 5px;
}

.gm-padding-top-10 {
  padding-top: 10px;
}

.gm-padding-top-15 {
  padding-top: 15px;
}

.gm-padding-bottom-0 {
  padding-bottom: 0;
}

.gm-padding-bottom-5 {
  padding-bottom: 5px;
}

.gm-padding-bottom-10 {
  padding-bottom: 10px;
}

.gm-padding-bottom-15 {
  padding-bottom: 15px;
}

.gm-padding-left-0 {
  padding-left: 0;
}

.gm-padding-left-5 {
  padding-left: 5px;
}

.gm-padding-left-10 {
  padding-left: 10px;
}

.gm-padding-left-15 {
  padding-left: 15px;
}

.gm-padding-right-0 {
  padding-right: 0;
}

.gm-padding-right-5 {
  padding-right: 5px;
}

.gm-padding-right-10 {
  padding-right: 10px;
}

.gm-padding-right-15 {
  padding-right: 15px;
}

.gm-padding-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.gm-padding-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.gm-padding-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.gm-padding-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.gm-padding-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.gm-padding-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gm-padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.gm-padding-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.gm-margin-0 {
  margin: 0;
}

.gm-margin-5 {
  margin: 5px;
}

.gm-margin-10 {
  margin: 10px;
}

.gm-margin-15 {
  margin: 15px;
}

.gm-margin-top-0 {
  margin-top: 0;
}

.gm-margin-top-5 {
  margin-top: 5px;
}

.gm-margin-top-10 {
  margin-top: 10px;
}

.gm-margin-top-15 {
  margin-top: 15px;
}

.gm-margin-bottom-0 {
  margin-bottom: 0;
}

.gm-margin-bottom-5 {
  margin-bottom: 5px;
}

.gm-margin-bottom-10 {
  margin-bottom: 10px;
}

.gm-margin-bottom-15 {
  margin-bottom: 15px;
}

.gm-margin-left-0 {
  margin-left: 0;
}

.gm-margin-left-5 {
  margin-left: 5px;
}

.gm-margin-left-10 {
  margin-left: 10px;
}

.gm-margin-left-15 {
  margin-left: 15px;
}

.gm-margin-right-0 {
  margin-right: 0;
}

.gm-margin-right-5 {
  margin-right: 5px;
}

.gm-margin-right-10 {
  margin-right: 10px;
}

.gm-margin-right-15 {
  margin-right: 15px;
}

.gm-margin-tb-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.gm-margin-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.gm-margin-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.gm-margin-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.gm-margin-lr-0 {
  margin-left: 0;
  margin-right: 0;
}

.gm-margin-lr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.gm-margin-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.gm-margin-lr-15 {
  margin-left: 15px;
  margin-right: 15px;
}

// border
.gm-border {
  border: 1px solid @gm-border-color;
}

.gm-border-bottom {
  border-bottom: 1px solid @gm-border-color;
}

.gm-border-right {
  border-right: 1px solid @gm-border-color;
}

.gm-border-top {
  border-top: 1px solid @gm-border-color;
}

.gm-border-left {
  border-left: 1px solid @gm-border-color;
}

.gm-border-top-0 {
  border-top: none;
}

// display
.gm-block {
  display: block;
}

.gm-inline-block {
  display: inline-block;
}

.gm-inline {
  display: inline;
}

// modal 全局修改
.modal-backdrop.in {
  opacity: .2;
}

.modal-content {
  box-shadow: none;
  border: 0;
}

.modal-header {
  padding: 10px;
}

.modal-body {
  padding: 10px;
}

.modal-footer {
  padding: 10px;
}

// pagination 全局修改
.pagination > li > a {
  color: inherit;
}

.gm-bg-info {
  background-color: #d9edf7 !important;
}

.gm-bg-invalid {
  background-color: #ffd3cf !important;
}

.gm-invalid {
  border-color: #a94442 !important;
}

/*animatre lite*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-right {
  animation-name: fadeInRight;
  animation-duration: .5s;
}

.glyphicon-spin {
  animation: spin 1000ms infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.table {
  font-size: 12px;
  th, td {
    text-align: center;
    a {
      cursor: pointer;
    }
  }
  thead > tr > th {
    padding: 8px 2px;
    &:not(.text-center) {
      text-align: left;
    }
    &:first-child {
      padding-left: 15px;
    }
  }
  tbody > tr > td {
    padding: 18px 2px;
    vertical-align: middle;
    &:not(.text-center) {
      text-align: left;
    }
    &:first-child {
      padding-left: 15px;
    }
    a {
      color: @link-color;
    }
  }
  &.table-bordered {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid @gm-border-color;
    thead {
      tr {
        th {
          border: none;
          font-weight: normal;
          color: @gm-color-first;
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
          color: @gm-color-second;
        }
      }
    }
  }
  &.table-striped {
    thead {
      tr {
        background: @table-bg-accent;
      }
    }
    tbody {
      tr {
        background: white;
      }
    }
  }
  thead {
    tr {
      border-bottom: 1px solid @gm-border-color;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid @gm-border-color;
      &:hover {
        background-color: @table-bg-hover;
      }
    }
  }
  .b-table-margin-left20 {
    margin-left: 20%;
  }
}
