.gm-invalid {
  border-color: #a94442 !important;
}

.gm-filter-blur {
  filter: blur(2px);
}

.gm-filter-blur-transition {
  filter: blur(2px);
  transition: 0.3s filter;
}

.gm-pagination {
  .pagination {
    margin: 0;

    li {
      display: inline-block;
      margin: 0 3px;

      a {
        font-size: 12px;
        color: inherit;
        padding: 3px 5px;
      }

      &.active {
        a {
          color: white;
        }
      }
    }
  }
}
