.gm-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.2);
}

.gm-modal {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;

  .gm-modal-dialog {
    position: relative;
    background-color: white;
    margin: 10px;
    width: auto;

    .close {
      padding: 8px;
      position: absolute;
      top: 0;
      right: 2px;
    }

    .gm-modal-title {
      padding: 10px;
      border-bottom: 1px solid @gm-border-color;
    }

    .gm-modal-content {
      padding: 10px;
    }

    .gm-modal-content-padding-0 {
      padding: 0;
    }
  }

  &.gm-modal-clean {
    .gm-modal-dialog {
      background: transparent;

      > .close {
        display: none;
      }

      .gm-modal-content {
        padding: 0;
      }
    }
  }

  &.gm-modal-right-side {
    .gm-modal-dialog {
      margin: 0 0 0 auto;
      height: 100%;
      overflow: hidden;

      .gm-modal-content {
        padding: 0;
        height: 100%;
        overflow: hidden;
      }

      .gm-modal-content-with-title {
        height: ~"calc(100% - 41px)";
      }
    }
  }

  .gm-modal-type {
    width: 390px;
    padding: 20px 30px 20px 30px;
    margin: 30px auto;
    font-size: 14px;
    border: 1px solid @gm-border-color;
    border-radius: 6px;

    .gm-modal-type-title {
      font-size: 16px;
      line-height: 16px;

      i {
        font-size: 18px;
        margin-right: 5px;
      }

      .ifont-success {
        color: @brand-primary;
      }

      .ifont-14052218 {
        color: #f60;
      }

      .ifont-warning {
        color: #f1ce35;
      }

      .ifont-info-circle {
        color: #108ee9;
      }
    }
  }
}

@media (min-width: 768px) {
  .gm-modal {
    .gm-modal-lg {
      width: 600px;
      margin: 100px auto 20px;
    }

    .gm-modal-md {
      width: 600px;
      margin: 100px auto 20px;
    }

    .gm-modal-sm {
      width: 300px;
      margin: 100px auto 20px;
    }
  }
}

@media (min-width: 992px) {
  .gm-modal {
    .gm-modal-lg {
      width: 900px;
    }
  }
}
