@import "../src/less/variables.less";
@import "../src/less/mixins.less";
@import "../src/less/custom.less";
@import "../src/css/variables.less";

.gm-react-table.ReactTable {
  .rt-th,
  .rt-td {
    padding: 8px;
    white-space: normal;
    word-wrap: break-word;

    a {
      cursor: pointer;
    }
  }

  .rt-tbody {
    .rt-tr {
      min-height: 60px;
      align-items: center;
    }

    .rt-th,
    .rt-td {
      border-right: none;
    }
  }

  .rt-thead {
    box-shadow: none;

    // 排序样式
    .gm-react-table-sort-header {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: -8px;
        bottom: 8px;
        width: 0;
        height: 0;
        border-top: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 5px solid #ccc;
        border-left: 3px solid transparent;
      }

      &::after {
        content: "";
        position: absolute;
        right: -8px;
        bottom: -1px;
        width: 0;
        height: 0;
        border-top: 5px solid #ccc;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
      }

      &.gm-react-table-sort-header-asc {
        &::before {
          border-bottom: 5px solid #999;
        }
      }

      &.gm-react-table-sort-header-desc {
        &::after {
          border-top: 5px solid #999;
        }
      }
    }

    .rt-th {
      &.-sort-asc {
        // 去掉原生排序样式
        box-shadow: none;

        .gm-react-table-sort-header {
          &::before {
            border-bottom: 5px solid #999;
          }
        }
      }

      &.-sort-desc {
        // 去掉原生排序样式
        box-shadow: none;

        .gm-react-table-sort-header {
          &::after {
            border-top: 5px solid #999;
          }
        }
      }
    }

    .rt-tr {
      min-height: 40px;
      background: #f2f3f8;
    }

    .rt-th,
    .rt-td {
      &:focus {
        outline: none;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    // 调整后不会溢出，所以不做 overflow，排序按钮就不会被 hidden 了
    .rt-resizable-header-content {
      overflow: initial;
    }

    &.-header {
      .rt-tr {
        text-align: left;
      }

      .rt-th,
      .rt-td {
        border-right: none;
      }
    }

    &.-headerGroups {
      .rt-th,
      .rt-td {
        text-align: center;
      }
    }
  }

  .rt-noData {
    color: inherit;
    background: transparent;
    bottom: 0;
    top: auto;
    transform: translate(-50%);
  }

  &.-striped {
    .rt-tr.-odd {
      background-color: white;
    }

    .rt-tr.-even {
      background-color: #f5f5f7;
    }
  }

  &.-highlight {
    .rt-tbody {
      .rt-tr:hover {
        background-color: #e7f5e8;
      }
    }
  }
}

.gm-react-table-select {
  .gm-react-table-select-all-tip {
    position: absolute;
    top: -15px;
    padding: 5px 10px;
    color: white;
    background: @brand-primary;
  }
}
