@import "../src/less/variables.less";
@import "../src/less/mixins.less";
@import "../src/less/custom.less";
@import "../src/css/variables.less";

.gm-react-table.ReactTable {
  .rt-th,
  .rt-td {
    padding: 8px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    // todo 观察用回react-table自带的overflow： auto会怎样
    // overflow: visible;

    a {
      cursor: pointer;
    }
  }
  .rt-th:first-child,
  .rt-td:first-child {
    padding-left: 15px;
  }

  .rt-tbody {
    // todo overflow: visible造成不能固定表头。观察用回react-table自带的overflow： auto会怎样
    // overflow: visible;

    .rt-tr {
      min-height: 60px;
      align-items: center;
    }

    .rt-th,
    .rt-td {
      border-right: none;
    }
  }

  .rt-thead {
    user-select: inherit;
    box-shadow: none;

    // 排序样式
    .gm-react-table-sort-header {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: -8px;
        bottom: 8px;
        width: 0;
        height: 0;
        border-top: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 5px solid #ccc;
        border-left: 3px solid transparent;
      }

      &::after {
        content: "";
        position: absolute;
        right: -8px;
        bottom: -1px;
        width: 0;
        height: 0;
        border-top: 5px solid #ccc;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
      }

      &.gm-react-table-sort-header-asc {
        &::before {
          border-bottom: 5px solid #999;
        }
      }

      &.gm-react-table-sort-header-desc {
        &::after {
          border-top: 5px solid #999;
        }
      }
    }

    .rt-th {
      &.-sort-asc {
        // 去掉原生排序样式
        box-shadow: none;

        .gm-react-table-sort-header {
          &::before {
            border-bottom: 5px solid #999;
          }
        }
      }

      &.-sort-desc {
        // 去掉原生排序样式
        box-shadow: none;

        .gm-react-table-sort-header {
          &::after {
            border-top: 5px solid #999;
          }
        }
      }
    }

    .rt-tr {
      min-height: 40px;
    }

    .rt-tr .rt-th{
      background: #f2f3f8;
    }

    .rt-th,
    .rt-td {
      &:focus {
        outline: none;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    // 调整后不会溢出，所以不做 overflow，排序按钮就不会被 hidden 了
    .rt-resizable-header-content {
      overflow: initial;
    }

    &.-header {
      .rt-tr {
        text-align: left;
      }

      .rt-th,
      .rt-td {
        border-right: none;
      }
    }

    &.-headerGroups {
      .rt-th,
      .rt-td {
        text-align: center;
      }
    }
  }

  .rt-noData {
    color: inherit;
    background: transparent;
    bottom: 0;
    top: auto;
    transform: translate(-50%);
  }

  &.-striped {
    .rt-tr.-odd {
      background-color: white;
    }

    .rt-tr.-even {
      background-color: #f5f5f7;
    }
  }

  &.-highlight {
    .rt-tbody {
      .rt-tr:hover {
        background-color: #e7f5e8;
      }
    }
  }
}

.gm-react-table-select {
  position: relative;

  .gm-react-table-select-all-tip {
    z-index: 1;
    position: absolute;
    top: -19px;
    white-space: nowrap;
    left: 6px;
    background: white;
    padding: 4px 10px;

    &-arrow {
      position: absolute;
      border: 5px solid transparent;
      bottom: -5px;
      border-bottom-width: 0;
      border-top-color: hsla(0, 0%, 85%, 0.7);

      &::after {
        bottom: 1px;
        content: " ";
        position: absolute;
        margin-left: -4px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid white;
      }
    }
  }
}

.gm-react-table-diy {
  position: relative;

  .gm-react-table-diy-selector {
    position: absolute;
    width: 340px;
    padding: 10px;
    top: 1px;
    right: 1px;
    background: #fff;
    z-index: 20;
  }
}
