.gm-tabs-container {
  overflow-x: auto;

  .gm-tabs {
    white-space: nowrap;
    border-bottom: 1px solid fadeout(@gm-frame-border-color, 50%);
    height: 40px;

    .gm-tab {
      display: inline-block;
      border-radius: 4px 4px 0 0;
      height: 40px;
      font-size: 14px;
      color: @gm-color-fourth;
      border: 1px solid fadeout(@gm-frame-border-color, 50%);
      margin-right: 1px;
      background-color: #e8eaf0;
      cursor: pointer;
      padding: 8px 12px;
      transition: background-color 0.4s;

      &:hover {
        color: @gm-color-first;
      }

      &.active {
        color: @gm-color-first;
        background-color: #fff;
        border-bottom: 1px solid transparent;
      }
    }
  }
}
